*{
  background-color: white;
}

.container {
  margin-left: 12%;
}

.card {
  padding: 2%;
  border: 2px solid grey;
}

.img-card {
  width: 80% !important;
  height: 80%;
}

.top-header {
  align-items: flex-start;
}